[
  {kernel, [
    {distributed, [
      {chucky, 5000, [
        'a@instance-20221028-1708',
        {'b@instance-20221028-1708', 'c@instance-20221028-1708'}
      ]}
    ]},
    {sync_nodes_mandatory, [
      'a@instance-20221028-1708', 
      'c@instance-20221028-1708'
    ]},
    {sync_nodes_timeout, 30000}
  ]}
].
